<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grajek - sklep muzyczny online</title>
    <link rel="stylesheet" href="\css\style.css" />
</head>
<body>
<header>
    <div> <h1 style="font-size:40px">Grajek</h1>
        <p style="font-size:20px">sklep muzyczny online</p>
    </div>
    <img src="/images/logo.jpg" alt="Logo" style="width:150px;height:150px">
</header>
<nav>
    <ul>
        <li><a href="/index" class="myButton">Strona główna</a></li>
        <li><a href="/orders/list" class="myButton">Nowe Zamówienia</a></li>
        <li><a href="/orders" class="myButton">Zamówienia w realizacji</a></li>
    </ul>
</nav>
<main>
    <h2>Lista nowych zamówień</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Data utworzenia</th>
            <th>Dane klienta</th>
            <th>Wartość zamówienia</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="order : ${orders}">
        <tr>
            <td th:text="${order.getFormattedSubDateTime()}"></td>
            <td th:text="${order.getClient().getFirstName()} + ' ' + ${order.getClient().getLastName()}"></td>
            <td th:text="${order.getTotalAmount()}"></td>
            <td>
                <ul class="table-list-actions">
                    <li>
                        <a th:href="${'/orders/order_details?id='+ order.getId()}" class="list-actions-button-details">Przejdź do zamówienia</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    Jan Klejn, s16503
</footer>
</body>
</html>